		body {
			margin: 0px;
			padding-top: 0px;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
		}
		h1 {
			margin-top: 0px;
			color: white;
			font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
			background-color: rgba(104, 107, 44, 0.9);
			text-align: center;
			font-size: 3rem;
			padding: 20px;
		}
	        .MainStuff {
			margin-top: 0px;
			padding: 0px;
			width: 100%;
			margin: auto;
		}
		.ButtonCont {
			width: auto;
			margin: auto;
			margin-top: 40px;
			text-align: center;
		}
		.mainbutton {
			margin: auto;
			border: 0;
			line-height: 2.5;
			padding: 0 20px;
			font-size: 1.5rem;
			text-align: center;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
			border-radius: 10px;
			background-color: #67e6cc;
		}
		.mainbutton:hover {
  			background-color: rgba(104, 107, 100, 1);
		}

		.mainbutton:active {
  			box-shadow:
    			inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    			inset 2px 2px 3px rgba(0, 0, 0, 0.6);
			}
